* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styling umum */
html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; 
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #0066cc; 
    color: #fff;
    padding: 1em;
    text-align: center;
}

.container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
